
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Condensed:wght@300&display=swap');
body{
   background-color: gray;
   

}

p {
    color: black;
    font-family: 'Bangers', cursive;}
h2{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
h3
{color: black;
    display: flex;
    justify-content: center;}
li{ display: inline;
    font-size: large;
}

.image{
   display: flex;
   justify-content: center;
   background-color: lightsteelblue;

}
  h1{
      color:black;
  }
  footer{
      background-color:grey;
      display:flex;
      justify-content: center;
      text-align: center;
  }
  a{
      justify-content: space-between;
     
      color: burlywood;
  }
  #nav{
    position: sticky;
    top: 0;
  }
  .resum{display: grid;
    grid-row-end: auto;
  }
 
  #about  {
      text-align: center;
      background-color: lightcoral;
  }
  #work  {
      text-align: center;
      background-color: lightgray;
  }
  #project  {
      text-align: center;
      background-color: lightsalmon;
  }
  #video{
      display: flex;
      justify-content: center;
      background-color: mediumpurple;
  }
 .grideone{
     display: grid;
     grid-template-columns: 1fr 1fr;
     
 }
 #grid23{
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
#contact{
    text-align: center;
    background-color: lightskyblue;
}
#cv-work{
    display: flex;
    justify-content: flex-end;
}
