
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Condensed:wght@300&display=swap');
body{
   background-color: gray;

}
header{
    background-color:gainsboro ;
}
p {
    color: black;
    font-family: 'Bangers', cursive;}
h2{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
h3
{color: black;
}
li{ display: inline;
    font-size: large;
}

.image{
   display: flex;
   justify-content: center;
}
  h1{
      color:black;
  }
  footer{
      background-color: gainsboro;
  }
  a{
      justify-content: space-between;
     
      color: burlywood;
  }
  #nav{
    position: sticky;
    top:0;
  }
  .main{
      padding: 0% 10% 0% 10%;
        box-sizing: border-box;
        background-color: honeydew;
  }
  .resum{display: grid;
    grid-row-end: auto;
  }
 
  #about  {
      text-align: center;
  }
  #work  {
      text-align: center;
  }
  #project  {
      text-align: center;
  }
  #video{
      display: flex;
      justify-content: center;
  }
 
